<div class="jumbotron col-md-12">

  <div class="col-md-12">
    <div class="row">
      Select variables
    </div>
    <br/>
    <div class="form-group row">
      <label class="col-md-1 col-form-label" for="condition">Gender:</label>
      <div class="col-md-2">
        <div class="form-group">
          <select class="form-control" id="condition">
            <option value="Equals">Equal to</option>
            <option value="Not Equals">Not Equals</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
        <span class="col-md-2">
          <span class="form-group">
            <select class="form-control">
              <option value="OR">OR</option>
              <option value="AND">AND</option>
            </select>
          </span>
        </span>
    </div>

    <br>
    <div class="form-group row">
      <label class="col-md-1 col-form-label" for="cityCondition">City:</label>
      <div class="col-md-2">
        <div class="form-group">
          <select class="form-control" id="cityCondition">
            <option value="Not Equals">Not Equals</option>
            <option value="Equals">Equal to</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <select class="form-control" id="city">
            <option value="Rio de Janeiro">Rio de Janeiro</option>
            <option value="Lisbon">Lisbon</option>
            <option value="Geneva">Geneva</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
        <span class="col-md-2">
          <span class="form-group">
            <select class="form-control">
              <option value="Field">Select a field</option>
              <option value="City">City</option>
              <option value="Gender">Gender</option>
              <option value="Bounce Rate">Bounce Rate</option>
            </select>
          </span>
        </span>
      <button class="btn btn-primary">Add</button>
    </div>
  </div>


  <div class="col-md-11 col-md-offset-1" style="margin-top: 30px">
    <div class="form-group row">
      <div class="form-group col-md-2">
        Additional Results
      </div>
      <div class="form-group col-md-2">
        <input type="checkbox" class="col-md-offset-4"> Hard Bounce
      </div>
      <div class="form-group col-md-2">
        <input type="checkbox"> Soft Bounce
      </div>
      <div class="form-group col-md-2">
        <input type="checkbox"> To be defined
      </div>
      <div class="col-md-2 col-md-offset-2">
        <button class="btn btn-success">See Result</button>
      </div>
    </div>
  </div>
</div>
