<h1>New Campaign</h1>

<div class="jumbotron col-md-12">

  <div class="col-md-8 col-md-offset-1">
    <md-progress-bar mode="determinate" value="{{pbValue}}"></md-progress-bar>
    <div class="col-md-3">
      <img class="img-responsive center-block ico"
           src="https://cdn1.iconfinder.com/data/icons/connecticons/340/threedotsbubble-512.png">
      <span class="center-block text-center">Basic Details</span>
    </div>

    <app-dynamic [componentData]="componentData"></app-dynamic>

    <div class="col-md-12 form-group col-md-offset-9 row">
      <button class="btn btn-default" (click)="onSaveAndQuit()">Save and Quit</button>
      <button class="btn btn-primary" (click)="onNext()">Next Step</button>
    </div>

  </div>
</div>
