<div class="container">
  <nav class="navbar navbar-default" style="background-color: transparent; border-color: transparent">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/campaign']" style="cursor:pointer;">Email Value</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li [routerLinkActive]="['active']"><a [routerLink]="['/campaign']">Campaigns</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/lists']">Lists</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/segments']">Segments</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/templates']">Templates</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/actions']">Actions</a></li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['/settings']">Settings</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
