<div class="col-md-10">
  <div class="form-group row">
    <label for="name" class="col-md-2 col-form-label">Campaign Name</label>
    <div class="col-sm-10">
      <input type="email" required class="form-control" id="name" placeholder="Campaign Name" #name>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="sel1">Select a list:</label>
    <div class="col-md-6">
      <div class="form-group">
        <select class="form-control" id="sel1" #list>
          <option>List A</option>
          <option>List B</option>
          <option>List C</option>
          <option>List D</option>
        </select>
      </div>
    </div>
  </div>
</div>
