<div class="jumbotron col-md-10 col-md-offset-1">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="col-md-4">ISP</th>
      <th class="col-md-2">Percentage</th>
      <th class="col-md-2">Bounce Rate</th>
      <td class="col-md-2" *ngIf="isCustomISP">Hard Bounce</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let statistics of ispStatistics">
      <td>{{statistics.isp}}</td>
      <td>{{statistics.percentage}}</td>
      <td>{{statistics.bounceRate}}</td>
      <td *ngIf="isCustomISP">{{statistics.hardBounce}}</td>
    </tr>
    </tbody>
  </table>
</div>
