<nav class="navbar navbar-default" style="background-color: transparent; border-color: transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['']" style="cursor:pointer;">Email Value</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a [routerLink]="['features']">Features</a>
        </li>
        <li><a [routerLink]="['pricing']">Pricing</a></li>
        <li><a [routerLink]="['resources']">Resources</a></li>
        <li><a [routerLink]="['about']">About Us</a></li>
        <li>
          <a [routerLink]="['/login']">
            <img src="http://www.iconarchive.com/download/i89126/icons8/ios7/User-Interface-Enter.ico" height="24px">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
