<app-header></app-header>
<div class="col-md-4 center-block">
  <form>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" #email>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input required type="password" style="width: 50%" class="form-control" id="password" #password>
    </div>
    <button type="submit" required (click)="authenticate(email.value, password.value)" class="btn btn-primary">Login</button>
  </form>
</div>
