<header class="intro-header" [ngStyle]="{'background-image':'url(' + me.coverImageUrl +')'}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>About Me</h1>
          <hr class="small">
          <span class="subheading">Who I am. What I do</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <blockquote>When something is important enough, you do it even if the odds are not in your favor. <br/> Elon Musk.</blockquote>
      <p>
        First things first, my name is Luis Fernando (a.k.a Jamal), 23 years old and I live in Rio de Janeiro, Brazil.
        Here you will see I am writing about many different subjects about technology. I will write about development,
        good practices, patterns, methodologies, architectures and practices. I am a cloud computing, big data and UX/UI enthusiast.
        I believe that user engagement, big data e machine learning are the future of technology.
      </p>
      <p><b>I am not a specialist or a guru</b> and I will not write any absolute truth, I will expose my experience,
        my preferences about development. I am a human and I will make some mistakes but before every post I will
        review to make sure that you will read the minimum of possible mistakes. I pretend expose all code of each post in my Github.
      </p>
      <p>I hope in the near future I have some guest writing here, exposing their experience in many different aspects
        which I do not have knowledge to talk (Go, Python, R...). I hope that you like the posts and if not,
        please send me a message and I will answer as soon as possible. Write me (or not) suggestions, share the posts and talk about this blog.
        It is made with attention and with great intentions.</p>
    </div>
  </div>
</div>
