<h1>My Campaigns</h1>

<div class="statistics">
  <p>Sent: {{campaign.date | date: 'dd/MM/yyyy At HH:mm:ss'}} from {{campaign.fromUser}} </p>
</div>
<br>
<ul class="nav nav-tabs">
  <li [routerLinkActive]="['active']"><a [routerLink]="['global']">Global</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['email']">Email</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['opening']">Opening</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['click-through']">Click-through</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['map']">Map</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['devices']">Devices</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['isp']">ISP</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['custom']">Custom</a></li>
</ul>

<router-outlet></router-outlet>
