<header class="intro-header" style="background-image: url('https://preview.ibb.co/dPY8Ov/home_bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>The House of Code</h1>
          <hr class="small">
          <span class="subheading">Where Not Only Code Matters</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview" *ngFor="let post of posts; let i = index">
        <a href="{{i}}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
        </a>
        <h3 class="post-subtitle">
          {{post.subtitle}}
        </h3>
        <p class="post-meta">Posted by <a style="cursor: pointer;">{{post.author}}</a>
          on {{post.createdAt | date: 'MMM dd, yyyy'}}</p>
      </div>
      <hr>
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr>
