<div class="statistics">
  <!--<div class="col-md-2">-->
  <!--<ul class="nav">-->
  <!--<li><input type="checkbox"> Sent</li>-->
  <!--<li><input type="checkbox"> Delivered</li>-->
  <!--<li><input type="checkbox"> Opened</li>-->
  <!--<li><input type="checkbox"> Clicked</li>-->
  <!--<li><input type="checkbox"> Unsubscribed</li>-->
  <!--<li><input type="checkbox"> Spam</li>-->
  <!--<li><input type="checkbox"> Mistakes</li>-->
  <!--</ul>-->
  <!--</div>-->

  <div class="col-md-7 col-md-offset-2">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="chartModel.lineChartData"
              [labels]="chartModel.labels"
              [options]="chartModel.lineChartOptions"
              [colors]="chartModel.lineChartColors"
              [legend]="chartModel.lineChartLegend"
              [chartType]="chartModel.lineChartType"></canvas>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 ico">
        <img class="img-responsive center-block"
             src="https://cdn1.iconfinder.com/data/icons/simple-icons/2048/email-2048-black.png">
        <span class="center-block text-center">Total</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.totalSent}}</span>
      </div>
      <div class="col-md-3 ico">
        <img class="img-responsive center-block"
             src="https://cdn4.iconfinder.com/data/icons/proglyphs-editor/512/Checkbox_-_Checked-128.png">
        <span class="center-block text-center">Delivered</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.delivered}}</span>
      </div>
      <div class="col-md-3 ico">
        <img class="img-responsive center-block"
             src="https://1001freedownloads.s3.amazonaws.com/icon/thumb/335424/Very-Basic-Opened-Folder-icon.png"
             alt="">
        <span class="center-block text-center">Opened</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.opened}}</span>
      </div>
      <div class="col-md-3 ico">
        <img class="img-responsive center-block" src="http://www.freeiconspng.com/uploads/download-icon-png-5.png"
             alt="">
        <span class="center-block text-center">Clicked</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.clicked}}</span>
      </div>
    </div>

    <div class="row col-md-offset-2 ">
      <div class="col-md-3 ico">
        <img class="img-responsive center-block"
             src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/prohibited-restricted-512.png"
             alt="">
        <span class="center-block text-center">Unsubscribed</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.unsubscribed}}</span>
      </div>
      <div class="col-md-3 ico">
        <img class="img-responsive center-block"
             src="https://cdn3.iconfinder.com/data/icons/rcons-mail-action/512/mail_block-512.png"
             alt="">
        <span class="center-block text-center">Spam</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.spammed}}</span>
      </div>
      <div class="col-md-3 ico">
        <img class="img-responsive center-block"
             src="https://cdn4.iconfinder.com/data/icons/vectory-bonus-3/40/bug_4-512.png"
             alt="">
        <span class="center-block text-center">Mistakes</span>
        <span class="center-block text-center">{{campaignStatistics.globalStatistic.mistakes}}</span>
      </div>
    </div>
  </div>
</div>
